section {
    background-color: rgb(224, 145, 145);
    padding: 20px;
    border-radius: 10px;
}
#encabezado {
    background-color: rgb(64, 59, 59);
    padding: 20px;
    border-radius: 10px;
}

.card_Title {
    font-size: 18px;
    color: rgb(237, 229, 0);
    font-weight: bold;
}
.card_button {
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}